<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!--啟用 nlog extension 的區塊，有需要使用 ASP.NET Core Extension 才需使用-->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Extensions.Logging"/>
		<add assembly="NLog.Loki"/>
		<add assembly="NLog.Targets.Loki"/>
	</extensions>

	<!--設定 log 輸出目標-->>
	<targets>
		<!--宣告 Target, 命名為 ErorrFile, 輸出目標 xsi:type -> file, log 檔案名稱 : error.log -->
		<target
			xsi:type="ColoredConsole"
			name="console"
			minlevel="Trace"
			layout="${level:lowercase=true}: ${logger}[${event-properties:item=EventId}]${newline}      ${message}${when:when=length('${exception}')>0:${newline}      ${exception:format=tostring}}"
			encoding="utf-8"/>
		<target
			xsi:type="loki"
			name="loki"
			batchSize="200"
			taskDelayMilliseconds="500"
			endpoint="http://localhost:3100"
			orderWrites="true"
			layout="${level:lowercase=true}: ${logger}[${event-properties:item=EventId}]${newline}      ${message}${when:when=length('${exception}')>0:${newline}      ${exception:format=tostring}}"
			encoding="utf-8">

			<!-- Grafana Loki requires at least one label associated with the log stream. 
			Make sure you specify at least one label here. -->
			<label name="app" layout="easynlog-apploki" />
			<label name="server" layout="${hostname:lowercase=true}" />
		</target>
	</targets>

	<!--設定不同 log level 的 routing 路徑-->
	<rules>
		<logger name="*" minlevel="Info" writeTo="console,loki" final="true"/>
	</rules>
</nlog>